@font-face {
    font-family: 'Pokemon Pixel Font Regular';
    src: url(pokemon_pixel_font.woff);
  }


  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background-image: url("pokemonbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: 'Pokemon Pixel Font Regular';
    font-weight: 500;
    text-align: center;
    color: black;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-shadow: -1px 1px white;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 500;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 20px;
}

p {
    font-size: 23px;
    font-weight: 600;
}

#increment-btn {
    background: #9F0505;
}

#save-btn {
    background: #6B903D;
}

.pokedex {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 100px auto;
    background-image: url("Pokedex.png");
    background-size: cover;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
